<div class="sticky-top container">
    <nav class="navbar navbar-light flex-column align-items-start">
        <h5 class="col-12 subtitle ml-0">Contents</h4>
        <nav class="navbar-nav flex-column ml-2">
            <a class="nav-link" href="{% url 'newname:top' %}">姓名判断(Top)</a>
            <a class="nav-link" href="{% url 'newname:lstroke_search' %}">姓に合う画数</a>
            <a class="nav-link" href="{% url 'newname:kanjisearch_figure' %}">漢字検索</a>
            <a class="nav-link" href="{% url 'newname:kanjisearch_strokereading' %}">読み・画数検索</a>
            <a class="nav-link" href="{% url 'newname:parameters_explain' %}">姓名判断の見方</a>
        </nav>
    </nav>
</div>
