<h3 class="subtitle">姓名判断の見方</h3>    
<div class="container">
    <table class="table table-bordered">      
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    天格
                </td>
                <td>
                    祖運。祖先から受け継いだ苗字で、家柄を象徴します。一般的に晩年になるほど影響力を強めます。姓の画数の合計。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    人格
                </td>
                <td>
                    主運。人物の内面をあらわし、家庭・仕事・結婚運、中年期の運勢に影響を与えます。姓名接合部2字の画数合計。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    地格
                </td>
                <td>
                    初運。一字名でもその人の性格をあらわします。幼少期の運勢を表し「性格」「才能」「金運」「適職」「性的傾向」に関与します。名の画数合計。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    外格
                </td>
                <td>
                    助運。家族や職場などの外因的要素、対人関係・社会的環境一般の運勢。 人生は人間関係によって決まるといっても過言ではありません。総格 - 人格。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    総格
                </td>
                <td>
                    総運。人生を歩むにつれて色濃くでてくるといわれ、晩年期に大きく影響を及ぼします。算出方法は、天格 + 地格。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    仕事運
                </td>
                <td>
                    仕事に対しての満足度合いや職場での人間関係、上司からの引き立てや努力の成就などを表します。総格 - 名の最後の一字。
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <td scope="row" style="width : 10%; min-width : 75px;">
                    家庭運
                </td>
                <td>
                    家庭に対しての満足度合いや誠実さなどを表します。 結婚や夫婦関係に強く影響します。総格 - 姓の最初の一字。
                </td>
            </tr>
        </thead>
    </table>
</div>